.product{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    width:100%;
    max-height:400px;
    min-width:100px;
    margin:10px;
    padding:20px;
    background-color:white; 
    z-index:1;
}
.product_info{
    height:100px;
    margin-bottom:15px;
}
.product img{
    max-height:200px;
    width:100%;
    object-fit:contain;
    margin-bottom:12px;
}
.product_rating{
    display:flex;
    float: left;        
}
.product_price{
    margin-top:5px;
}
.product button{
    background-color:#f0c14b;
    border-color:#a88734 #9c7e31 #846a29;
}